/* Reset some default styles */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #cddc39;
  accent-color: #ffffff;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.logo {
  font-size: 24px;
}

/* Main wrapper styles */
.wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #e31b6d;
  accent-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* Form styles */
.form {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  box-sizing: border-box;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

#error {
  color: #ff0000;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #555;
}

/* Guest list styles */
.guest-list {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}

.guest {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: 250px;
  background-color: #ff9900;
  accent-color: #333333;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.guest:hover {
  transform: scale(1.05);
}

.guest img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.guest h2 {
  font-size: 18px;
}

.status button {
  margin-top: 10px;
}


