* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold-soundz: #ffd166;
  --neon-watermelon: #ef476f;
  --electric-mint: #06d6a0;
  --sage-sage: #83c5be;
  --blueberry-smoothie: #118ab2;
  --old-midnight: #073b4c;
  --primary-background: var(--old-midnight);
  --secondary-background: var(--electric-mint);
  --primary-color: var(--sage-sage);
  --secondary-color: var(--gold-soundz);
  --dark-color: var(--old-midnight);
  --primary-highlight: var(--gold-soundz);
  --secondary-highlight: var(--neon-watermelon);
  --primary-gray: #dfdfdf;
  --danger: white;
}

html {
  background: var(--primary-background);
  font-family: Helvetica, sans-serif;
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

/* Header */
header {
  background: var(--secondary-background);
  border-bottom: 3px solid var(--primary-highlight);
  padding: 20px;
  text-align: center;
}

.logo {
  color: var(--dark-color);
  font-weight: bold;
}

/* Main section */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 30px;
}

/* Form */
.form {
  padding: 0 30px;
}

.form h2 {
  text-align: center;
  border-bottom: 3px solid var(--primary-highlight);
  color: var(--secondary-highlight);
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.form label {
  display: block;
  margin: 20px 0;
}

.form input,
.form select {
  border: 2px solid #ccc;
  border-radius: 5px;
  color: ghostwhite;
  display: block;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.form button {
  background: var(--primary-highlight);
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.form button:hover {
  background: var(--secondary-highlight);
}

/* Errors */
#error {
  display: none;
  padding: 15px 0;
  background: var(--primary-gray);
  border-radius: 5px;
  margin: 20px 0;
}

#error li {
  color: var(--primary-color);
  margin: 5px 0;
}

/* Guest List */
.guest-list {
  color: var(--danger);
}

.guest-list article {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 30px;
}

.guest-list img {
  border: 3px solid var(--secondary-background);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.guest-list h2 {
  color: var(--secondary-highlight);
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.guest-list .status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guest-list button {
  background: var(--danger);
  border: 10;
  border-radius: 5px;
  padding: 0.5rem 2rem;
}