* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-background: #000; /* Black */
  --secondary-background: #fff; /* White */
  --primary-color: #ff0000; /* Red */
  --secondary-color: #000; /* Black */
  --dark-color: #000; /* Black */
  --primary-highlight: #ff0000; /* Red */
  --secondary-highlight: #000; /* Black */
  --primary-gray: #dfdfdf; /* Light Gray */
  --danger: white;
}

html {
  background: var(--primary-background);
  font-family: Helvetica, sans-serif;
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

/* Header */
nav {
  background: var(--secondary-background);
  border-bottom: 3px solid var(--primary-highlight);
  padding: 20px;
  text-align: center;
}

nav h1 {
  font-size: 32px;
}

.logo {
  color: var(--dark-color);
  font-weight: bold;
}

/* Main section */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  
}

/* Form */
aside.form {
  padding: 0 20px;
  
}

aside.form h2 {
  text-align: right;
  font-size: 18px;
}

aside.form form label {
  display: block;
  margin: 15px 0;
  width: 100%;
}

aside.form form input,
aside.form form select {
  border: 2px solid #ccc;
  border-radius: 5px;
  color: black;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

aside.form form button,
button {
  background: var(--primary-highlight);
  border: 0;
  border-radius: 5px;
  border-style: solid;
  font-weight: bold;
  padding: 10px;
  transition: background 0.3s ease-in-out
}

aside.form form button:hover {
  background: var(--secondary-highlight);
}

aside.form form button[type="submit"] {
  background: var(--primary-gray);
}

aside.form form button[type="submit"]:hover {
  background: var(--primary-gray);
}

/* Errors */
#error {
  display: none;
  padding: 10px 0;
  background: var(--primary-gray);
  border-radius: 5px;
  margin: 20px 0;
}

#error li {
  color: var(--primary-color);
  margin: 5px 0;
}

.guest-list article {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.guest-list article .status button {
  margin-right: 20px
}

.guest-list article aside {
  text-align: right;
  padding: 0 30px;
}

.guest-list article img {
  border: 3px solid var(--secondary-background);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.guest-list h2,
.form h2 {
  border-bottom: 3px solid var(--primary-highlight);
  color: var(--primary-highlight);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.guest-list h3 {
  color: var(--primary-background);
  font-size: 24px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 15px;
}

.guest-list p {
  font-size: 16px;
  margin: 5px 0;
}

.guest-list button {
  background: var(--danger);
  border: 0;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: not-allowed;
}

.guest-list .stock {
  background: var(--primary-gray);
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.out-vip {
}

.in-vip {
  background-color: var(--primary-highlight);
}

.bounce {
  color: var(--secondary-highlight);
}

/* Responsive */
@media (max-width: 700px) {
  .wrapper {
    display: block;

  }

  .wrapper aside.form {
    margin: 20px auto;
  }
}
